.BackBtn{
  font-size: 15px;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 15px;
  padding: 5px 20px;
  border-style: solid;
  background-color: #f1c40f;
  border-width: 0.5px;
  cursor: pointer;
}
.BackBtn a:hover {
  text-decoration: none;
  background-color:rgba(0, 0, 0, 0.7);
}
.BackBtn:hover {
  color: #f1c40f;
  background-color: transparent;
  border-style: solid;
  background-color:rgba(0, 0, 0, 0.7);
  }

.detail-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://media.istockphoto.com/id/1251347397/photo/funny-dog-linking-its-lips-with-tongue-out-isolated-on-yellow-background.jpg?b=1&s=170667a&w=0&k=20&c=e9tDadSXHX48lcPT7LIOhppW49UNPyt0HzTqumISoTQ=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
  }

  .image-container {
    width: 50%;
    height: 100%;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    width: 600px;
    height: 450px;
    object-fit: contain;
    pointer-events: none;
  }  
  
  .detail-titles {
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    width: 100%;
    flex: 1; /* Permite que el contenedor ocupe todo el espacio disponible */
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0%;
    margin-left: 25px;
    overflow: auto;
  }

  #detailH1 {
    color: white;
    font-size: 50px;
    padding: 10px 10px;
    margin: 10px 10px;
  }
  
  .detailH2 {
    color: white;
    font-weight: 100;
    font-size: 35px;
    padding: 10px 10px;
    margin: 10px 10px;
  }
