body {
    background-image: url(https://media.istockphoto.com/id/1262376786/photo/banner-hide-funny-surprised-dog-puppy-isolated-on-yellow-background.jpg?s=170667a&w=0&k=20&c=4fkGQDW9D9HpC5fkk7Tsc8f5xlaz_8YjNElYdXLkSns=);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Mantener la imagen de fondo fija */
    margin: 0;
    padding: 0;
  }
  
  .home-page {
    height: 100vh;
  }

  .filters{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: black;
    text-decoration: none;
    padding-bottom: 10px;
  }

  .select {
    font-size: 15px;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 15px;
    padding: 5px 20px;
    background-color: #f1c40f;
    border-width: 0.5px;
    cursor: pointer;
  }
  
  .select:hover {
    background-color: transparent;
    border-style: solid;
    border-color: #f1c40f;
    color: #f1c40f;
  }
  
  .select:focus {
    background-color: transparent;
    color: #f1c40f;
  }
  
  select option {
    background-color: #f1c40f;
    color: black;
  }
  
  select option:hover {
    background-color: yellow;
    cursor: pointer;
  }

  option:focus {
    background-color: green;
    cursor: pointer;
  }

  .pagiCont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 15px;
}