.searchBar {
    padding: 5px;
    margin: 10px;
  }
  
  .input-search {
    text-align: left;
    border-radius: 5px;
    margin-right: 10px;
    border-width: 0.5px;
    padding: 5px;
  }
  
  .agregarBtn {
    font-size: 15px;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 15px;
    padding: 5px 20px;
    border-style: solid;
    background-color: #f1c40f;
    border-width: 0.5px;
    cursor: pointer;
  }
  
  .agregarBtn a {
    text-decoration: none;
    color: #f1c40f;
  }
  
  .agregarBtn a:hover {
    text-decoration: none;
    color: #f1c40f;
  }
  
  .agregarBtn:hover {
    background-color: transparent;
    border-style: solid;
    border-color: #f1c40f;
    color: #f1c40f;
  }
  
  .error {
    color: red;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: -30px;
  }