.input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 18px;
    width: 18px;
    cursor: pointer;
    background-color: rgba(var(--colors-text), 0.3);
    background-image: url('https://wallpapershome.com/images/wallpapers/dog-2560x1440-5k-4k-wallpaper-puppy-black-underwater-funny-animal-pet-1533.jpg');
    background-repeat: no-repeat;
    background-size: 8px 8px;
    background-position: center;
    border-radius: var(--rounded-20);
    -webkit-border-radius: var(--rounded-20);
    -moz-border-radius: var(--rounded-20);
    -ms-border-radius: var(--rounded-20);
    -o-border-radius: var(--rounded-20);
  }
  