.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container__img {
    height: 100%;
    width: 100%;
    min-height: 0;
    padding: 2px 0 2px 0;
    object-fit: contain;
    fill: rgb(var(--colors-text));
  }
  
  .container__title {
    font-size: 14px;
    font-weight: 600;
  }
  