.landing-page {
    background-image: url('https://4kwallpapers.com/images/wallpapers/black-dog-cute-puppies-black-background-dark-amoled-5k-3440x1440-1507.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /* Estilos para el título */
  .landing-page h1 {
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  
  /* Estilos para el enlace de "Get started" */
  .landing-page a {
    padding: 1rem 2rem;
    background-color: #f1c40f;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    top: 10rem;
    right: 12rem;
  }
  
  .landing-page a:hover {
    background-color: #e0b309;
  }